.venv
ego_diffusion.egg-info
notes/
reference_images/
results/
workflows/
.env
TODO.txt
notebooks/
**/__pycache__/
**/.DS_Store
docker_commands.txt
update_yaml_file.sh
Docker/kohya/configure_kohya.yml
missing_packages.txt
/ComfyUI/
/kohya_ss/